<!doctype html>
<html lang="zh-CN">
<%-include('header.ejs')-%>


<body class="user-select">
    <section class="container-fluid">
        <%-include('header-list.ejs')-%>
        <div>
            <%-include('sidebar.ejs')-%>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
                <div class="row">
                    <form action="/users/picture/add-picture" method="post" enctype="multipart/form-data" id="uploadForm">
                        <div class="col-md-12">
                            <h1 class="page-header">上传图片</h1>
                            <div class="form-group">
                                <input type="text" id="title" name="title" class="form-control" placeholder="在此处输入标题">
                            </div>

                            <div class="add-article-box">
                                <h2 class="add-article-box-title"><span>描述</span></h2>
                                <div class="add-article-box-content">
                                    <textarea class="form-control" name="describe"></textarea>
                                    <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
                                </div>
                            </div>
                            <p>
                                <input type="file" name="upload" placeholder="点击按钮选择图片" style="display: inline-block">
                                <input type="submit" value="上传" style="display: inline-block" />
                            </p>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>
<script>

</script>