<aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/users/myselfinfo">个人信息</a></li>
      </ul>
  <ul class="nav nav-sidebar">
    <li><a href="/users/article">文章</a></li>
    <li><a href="/users/notice">公告</a></li>
    <li><a href="/users/comment">评论</a></li>
    <li><a href="/users/picture">图片管理</a></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="/index">返回首页</a></li>
  </ul>
</aside>